<!DOCTYPE html>
<html  th:replace="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вход</title>
</head>
<body>
<section th:fragment="content">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card1 shadow">
                <div class="card1-body">
                    <h1 class="card1-title text-center mb-4">Вход</h1>

                    <div th:if="${param.error}" class="alert alert-danger">
                        Неверное имя пользователя или пароль
                    </div>

                    <form th:action="@{/login}" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Имя пользователя:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </div>
                    </form>

                    <p class="text-center mt-3">Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>