<!DOCTYPE html>
<html th:replace="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
</head>
<body>
<section th:fragment="content">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card1 shadow">
                <div class="card1-body">
                    <h1 class="card1-title text-center mb-4">Регистрация</h1>

                    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                    <form th:action="@{/register}" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Имя пользователя:</label>
                            <input type="text" class="form-control" id="username" th:field="*{user.username}" required>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail:</label>
                            <input type="email" class="form-control" id="email" th:field="*{user.email}" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль:</label>
                            <input type="password" class="form-control" id="password" th:field="*{user.password}" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                        </div>
                    </form>

                    <p class="text-center mt-3">Уже есть аккаунт? <a th:href="@{/login}">Войти</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>