<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Другие элементы head... -->
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<!-- Обновлено: Вставьте фрагмент 'info' из 'first.html' -->
<div th:insert="~{practice/first :: info}"></div>

<!-- Обновлено: Замените фрагмент 'students-table' из 'second.html' -->
<div th:replace="~{practice/second :: students-table}"></div>

<!-- Обновлено: Вставьте фрагмент 'add-student-form' из 'third.html' -->
<div th:insert="~{practice/third :: add-student-form}"></div>
<!-- Остальное содержимое... -->
<a th:href="@{'/'}">Вернуться на главную</a>
</body>
</html>