<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Заголовок</title>
</head>
<body>
    <h1 th:text="${title}">Добро пожаловать на вторую страницу</h1>
    <table border="1" th:fragment="students-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>sureName</th>
            <th>Graduated</th>
            <th>Mark</th>
            <th>Diploma Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id + 100000}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.sureName}"></td>
            <td th:text="${student.isGraduated ? 'Да' : 'Нет'}"></td>
            <td th:if="${student.mark == 3}">Хорошо</td>
            <td th:if="${student.mark == 4}">Очень хорошо</td>
            <td th:if="${student.mark == 5}">Отлично</td>
            <td th:if="${student.mark == 1 or student.mark == 2}">Не сдано</td>
            <td th:if="${student.mark == 3 and student.isGraduated}">Синяя</td>
            <td th:if="${student.mark == 4 and student.isGraduated}">Синяя</td>
            <td th:if="${student.mark == 5 and student.isGraduated}">Красная</td>
            <td th:if="${student.mark == 1 or student.mark == 2 or not student.isGraduated}">Нет диплома</td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/'}">Вернуться на главную</a>
</body>
</html>