<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm"
     xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container">
    <a class="navbar-brand" th:href="@{/}">MyApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}"><i class="bi bi-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/cards/cards}"><i class="bi bi-house"></i>All Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/cards/userCards}"><i class="bi bi-house"></i> UserCards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/auth/users}"><i class="bi bi-person-plus"></i> Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>