<html th:replace="~{layout}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Privacy</title>
</head>
<body>
<section th:fragment="content">
    <div class="hero-section text-center">
        <div class="container">
            <h1 class="display-4 fw-bold" th:text="#{home.welcome}">Welcome</h1>
            <p class="lead" th:text="#{home.description}">Site description...</p>
            <div class="mt-4">
                <h1>Privacy</h1>
            </div>
        </div>
    </div>
</section>
</body>
</html>