<html th:replace="~{layout}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title th:text="#{page.home}">Home</title>
</head>
<body>
<section th:fragment="content">
  <div class="hero-section text-center">
    <div class="container">
      <h1 class="display-4 fw-bold"> Welcome </h1>
      <p class="lead"> Site description... </p>
      <div class="mt-4" sec:authorize="!hasAuthority('USER')">
        <a th:href="@{/register}" class="btn btn-light btn-lg mx-2">Register account</a>
        <a th:href="@{/login}" class="btn btn-lg mx-2">Login</a>
      </div>
    </div>
  </div>
</section>
</body>
</html>